.player {
    position: fixed;
    z-index: 15;
    visibility: hidden;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.player_iframe {
    height: 90%;
    width: 90%;
    box-shadow: black 0px 0px 10px;
}

.player__inner {
    height: -webkit-fill-available;
    background-color: rgba(30, 30, 30, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}